# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.vsidx
*.db
*.ipch
*.opendb
*.dt
*.command
*.json
*.vsidx
*.db-wal
*.dt
*.command
*.pdb
*.ifc
*.idb
*.tlog
*.log
*.ilk
*.recipe
*.vcxproj
.vs/Boom Bang Boom/v17/.suo

